<h1>Registration deleted</h1>

<table class="edit">
  <tr>
    <th>Registration id</th>
    <th>Presentation</th>
    <th>Delegate</th>
  </tr>
  <tr>
    <td><%= @registration.id %></td>
    <td><%= @presentation_name %></td>
    <td><%= @delegate_name %></td>
  </tr>
</table>

<br>
