<h1>Registrations</h1>

<table>

  <tr>
    <th>registration id</th>
    <th>presentation</th>
    <th>delegate</th>
  </tr>

  <% for registration in @registrations %>
  <tr>
    <td><a href="/registrations/<%= registration.id %>"><%= registration.id %></a></td>
    <td><%= registration.presentation.name %></td>
    <td><%= registration.delegate.name %></td>
  </tr>
  <% end %>

</table>
