<h1>Create new registration</h1>

<form method="post" action="/registrations">
  <table class="edit">
    <tr>
      <td>
        Presentation
      </td>
      <td>
        <select name="presentation_id">
          <% for presentation in @presentations %>
            <% if presentation.remaining_spaces > 0 %>
              <option value="<%= presentation.id %>" ><%= presentation.name %></option>
            <% end %>
          <% end %>
        </select>
      </td>
    </tr>
    <tr>
      <td>
        Delegate
      </td>
      <td>
        <select name="delegate_id">
          <% for delegate in @delegates %>
            <option value="<%= delegate.id %>" ><%= delegate.name %></option>
          <% end %>
        </select>
      </td>
    </tr>
    <tr>
      <td class="blank">
      </td>
      <td>
        <input type="submit" value="Submit"/>
      </td>
    </tr>
  </table>
</form>

<br>
