<h1>Registration updated</h1>

<table class="edit">
  <tr>
    <th>Registration id</th>
    <th>Presentation</th>
    <th>Delegate</th>
  </tr>
  <tr>
    <td><%= @registration.id %></td>
    <td><%= @registration.presentation.name %></td>
    <td><%= @registration.delegate.name %></td>
  </tr>
  <tr>
  </tr>
</table>

<br>
