<h1>Presentation added</h1>

<table class="edit">
  <tr>
    <td>Name</td>
    <td><a href="/presentations/<%= @presentation.id %>"><%= @presentation.name %></a></td>
  </tr>
  <tr>
    <td>Time slot</td>
    <td><%= @presentation.time_slot %></td>
  </tr>
  <tr>
    <td>Capacity</td>
    <td><%= @presentation.capacity %></td>
  </tr>
</table>

<br>
