<h1>Presentations</h1>

<table>
    <tr>
      <th>Presentation</th>
      <th>Time Slot</th>
      <th>Capacity</th>
    </tr>
  <% for presentation in @presentations %>
    <tr>
      <td><a href="/presentations/<%= presentation.id %>"><%= presentation.name %></a></td>
      <td><%= presentation.time_slot %></td>
      <td><%= presentation.capacity %></td>
    </tr>
  <% end %>
</table>

<br>

<table>
  <tr>
    <th>
      <form action="/presentations/new" method="get">
        <input type="submit" value="Add new presentation">
      </form>
    </th>
  </tr>
</table>

<br>
