<h1>Presentation updated</h1>

<table class="edit">
  <tr>
    <th>Name</th>
    <th>Time slot</th>
    <th>Capacity</th>
  </tr>
  <tr>
    <td><a href="/presentations/<%= @presentation.id %>"><%= @presentation.name %></a></td>
    <td><%= @presentation.time_slot %></td>
    <td><%= @presentation.capacity %></td>
  </tr>
</table>

<br>
