<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>Space Symposium 2018: Moons of Jupiter</title>
    <link rel="stylesheet" href="/style.css">
  </head>

  <body>

    <h1>Space Symposium 2018: Moons of Jupiter</h1>
    <%= yield %>
  </body>

</html>
