<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>Space Symposium 2018: Moons of Jupiter</title>
    <link rel="stylesheet" href="/style.css">
  </head>

  <body>
    <h1>Space&nbsp;Symposium&nbsp;2018: Moons&nbsp;of&nbsp;Jupiter</h1>
    <img src="galilean_moons.png" alt="Image of Galilean Moons"/>
    <%= yield %>
  </body>

</html>
