<h1>Add new delegate</h1>

<form method="post" action="/delegates">
  <label for="name">Name:</label>
  <input type="text" name="name" id="name"/>

  <label>Board member?:</label>
  <input type="radio" name="board_member" value="no" checked/>No
  <input type="radio" name="board_member" value="yes"/>Yes

  <input type="submit" value="Submit"/>
</form>
