<h1>Add new delegate</h1>

<form method="post" action="/delegates">
  <table class="edit">
    <tr>
      <td>
        <label for="name">Name</label>
      </td>
      <td>
        <input type="text" name="name" id="name"/>
      </td>
    </tr>
    <tr>
      <td>
        <label>Board member?</label>
      </td>
      <td>
        <input type="radio" name="board_member" value="no" checked/>No
        <input type="radio" name="board_member" value="yes"/>Yes
      </td>
    </tr>
    <tr>
      <td class="blank">
      </td>
      <td>
        <input type="submit" value="Submit"/>
      </td>
    </tr>
  </table>
</form>

<br>
