<h1>Delegate updated</h1>

<table class="edit">
  <tr>
    <th>Name</th>
    <th>Board member?</th>
  </tr>
  <tr>
    <td><a href="/delegates/<%= @delegate.id %>"><%= @delegate.name %></a></td>
    <td <%= @delegate.board_member=="yes" ? "class='green'" : "class='red'" %>><%= @delegate.board_member %></td>
  </tr>
</table>

<br>
